@import url('https://fonts.googleapis.com/css2?family=Anton&family=Comfortaa:wght@300..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* ESTILO DO BODY E HTML */
body{ 
    margin: 0;
    padding: 0;
    overflow-x:hidden;
}
/*DIVISÃO DO MENU DE NAVEGAÇÃO PRINCIPAL*/
.navtop {
    background-image: url('media/nav_bg-01.png');
    background-size: cover;
    overflow: hidden;
    position: relative;
    padding: 10px 0;
    width:100%;
    z-index:999;
    
}

/* PARÂMETROS DE AJUSTE PARA A POSIÇÃO DO LOGO NO MENU DE NAVEGAÇÃO */
.navtop .logo-left img { 
    max-width: 110px;
    float:left;
    height: auto;
    transform: translate(290%, 0%);
}

.navtop a{
    font-family: 'Comfortaa', sans-serif;
    font-weight:700;
    font-size: 15px;
    color: #000000;
    text-align: center;
    text-decoration: none;
    padding: 0px 13px;

}

.navtop .top-center ul.main_nav{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -130%);
    list-style-type: none;
}
.navtop .main_nav li {
    display: inline-block;
}

.navtop .top-right a {
    float:right;
    top:50%;
    left:50%;
    transform: translate(-280%, 55%);
}

/*EFEITOS DE TRANSIÇÃO NA BARRA DE NAVEGAÇÃO*/
.navtop a:not(.donate_btn, .adopt_btn, .amor):hover {
    text-decoration: underline;
    text-decoration-thickness: 4px;
    text-decoration-color: #764599;
    text-underline-offset: 5px;
    text-decoration-thickness: 4px;
}
.donate_btn, .adopt_btn {
    margin-top:-19px;
}
/*BORDA CENTRALIZADA AOS BOTÕES*/
a.donate_btn {
    border-radius: 100px;	
    background-color: #FDF877;
    color: #000000;
    margin-right: 5px;
    width:70px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
a.adopt_btn {
    border-radius: 100px;	
    background-color: #5F377B;
    color: #ffffff;
    margin-right: 5px;
    width:70px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*EFEITOS DE TRANSIÇÃO AO PASSAR MOUSE NOS BOTÕES DE DOAÇÃO E ADOÇÃO */

a.donate_btn:hover {
    transition: background-color 0.5s, color 0.5s, border-radius 0.5s;
    border-radius: 100px;	
    background-color: #5F377B;
    color: #FDF877;
    outline: 2px solid;
    text-decoration: underline;
    text-decoration-color: #FDF877;
    text-underline-offset: 5px;
    text-decoration-thickness: 3px;
}

a.adopt_btn:hover {
    transition: background-color 0.5s, color 0.5s, border-radius 0.5s;
    border-radius: 100px;	
    background-color: #FDF877;
    color: #5F377B;
    outline: 2px solid;
    text-decoration: underline;
    text-decoration-color: #5F377B;
    text-underline-offset: 5px;
    text-decoration-thickness: 3px;
}



/*AJUSTES POSICIONAIS DO VÍDEO DA PÁGINA INTRODUTÓRIA*/
video {
    width: 100vw;
    display: block;
    /*POSIÇÃO STATIC PARA EVITAR REDIMENSIONAMENTO NA JANELA*/
    position: static;
    z-index: -2;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}
/*PARÂMETROS DE ESTILO PARA O BOTÃO SOBREPOSTO NO VÍDEO*/
.love_btn {
    position: absolute;
    left: 79%;
    margin-top:-230px;
}

a{
    text-decoration: none;
}
.love_btn a.amor {
    font-family: 'Comfortaa', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #000000;
    border-radius: 100px;
    outline:2px solid;	
    color: #ffffff;
    z-index: 999;
    
    /*AJUSTES PARA A BORDA DO BOTÃO */
    margin-left:20px;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -180%;
    left: 190%;
    transform: translate(-50%, -50%);
}


.love_btn .amor:hover {
    transition: background-color 0.5s, color 0.5s, border-radius 0.5s;
    border-radius: 100px;
    background-color: #ffffff;
    color:#5F377B;
    text-decoration:underline;
    text-decoration-color: #5F377B;
    text-underline-offset: 5px;
    text-decoration-thickness: 3px;
}

/*PARÂMETROS DE AJUSTE PARA A DIVISÃO HOME_TEXT*/

.home_text {
    padding: 10px 305px;
    position:absolute;
}
.home_text_bg{
    width: 100vw;
    height: 114%;
    background-color: #5F377B;
    position: absolute;
    margin-top:-10px;
    left: 50vw;
    transform: translateX(-50%);
}

.text1, .welcome, .friend, .dog, .crosshatch{
    left:50vw;
}
.home_text p.text1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 19px;
    font-weight:300;
    color: #ffffff;
    /*AJUSTE DE MARGEM PARA O TEXTO*/
    text-align: justify;
    text-align-last: left;
    margin-left:-600px;
    width: 75.5%;
    margin-top: -150px;
    position:absolute;
}

.home_text p.welcome {
    font-family: "Anton", sans-serif;
    font-size: 60px;
    color: #ffffff;
    margin-left:-895px;
    margin-top: 80px; 
    position:relative;
    
}

.home_text p.friend {
    font-family: "Anton", sans-serif;
    font-size: 128px;
    color: #FDF877;
    margin-top: -109px;
    margin-left:-905px;
    position:relative;
}


.home_text img.dog {
    height:auto;
    float:right;
    width:51%;
    min-width:250px;
    margin-left:150px;
    margin-top:100px;
    position:absolute;
    
}


.home_text img.crosshatch {
    height:auto;
    width:100px;
    margin-left: 600px;
    margin-top:443px;
    position:absolute;
}
/*LINHA PARA DIVISÃO VISUAL*/
.line {
    width: 75vw;
    height: 3px;
    background-color: #FDF877;
    position: absolute;
    margin-top:40px;
    left: 50vw;
    transform: translateX(-50%);
}

/*PARÂMETROS PARA A SEGUNDA SEÇÃO DA PÁGINA*/
.home_text2 {
    position: relative;
}
.home_text2_bg {
    background-color: #FDF877;
    width: 200vw; 
    z-index:-1;        
    height: 600px;
    position: absolute;
    transform: translateX(-50%);
}

.cat, .alimente, .esperança, .text2, .about {
    left:50vw;
}


.home_text2 img.cat {
    height:auto;
    width:350%;
    margin-top:150px;
    margin-left:-900px;
    position:absolute;
}
.home_text2 img.cross {
    position:absolute;
    height:auto;
    width:90px;
    margin-top:506px;
    margin-left:-150px;

 }   

.home_text2 p.alimente {
    font-family: "Anton", sans-serif;
    font-size: 55px;
    color: #000000;
    margin-top: 120px;
    position:absolute;
    margin-left:-297px;
}
.home_text2 p.esperança {
    font-family: "Anton", sans-serif;
    font-size: 100px;
    color: #5F377B;
    margin-top: 155px;
    position:absolute;
    margin-left:-300px;
}
.home_text2 p.text2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 19px;
    font-weight:400;
    color: #000000;
    /*AJUSTE DE MARGEM PARA O TEXTO*/
    text-align: justify;
    text-align-last: left;
    width: 335%;
    margin-top: 305px;
    margin-left:-300px;
    position:absolute;
}

.about_btn .about{

    font-family: 'Comfortaa', sans-serif;
    font-weight: 700;
    font-size: 15px;
    color: #5F377B;
    padding: 0px 5px;
    text-decoration: none;
    position: relative;
    top:455px;
    margin-left:30px;
    
}

.about_btn .about:hover {
    text-decoration: underline;
    text-decoration-thickness: 4px;
    text-decoration-color: #764599;
    text-underline-offset: 5px;
    text-decoration-thickness: 4px;
}

/* NOVA SEÇÃO DE BACKGROUND */
.new-background {
    background-color: #5F377B;
    width: 100vw; 
    top:208.2%;
    z-index:-1;        
    height: 500px;
    position: absolute;
    left: 50vw;
    transform: translateX(-50%);
}


/*AJUSTES PARA A TERCEIRA SEÇÃO DA PÁGINA*/

.home_text3, .united, .juntos, .somos, .text3 {
    left:50vw;
}

.home_text3 .united {
    height:auto;
    width:500px;
    top:220%;
    margin-left:-600px;
    position:absolute;

}

.home_text3 .juntos {
    font-family: "Anton", sans-serif;
    font-size: 67px;
    color: #FDF877;
    top: 204%;
    position:absolute

}
.home_text3 .somos {
    font-family: "Anton", sans-serif;
    font-size: 93px;
    color: #ffffff;
    top:210%;
    width:100%;
    position:absolute

}
.home_text3 .text3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 19px;
    font-weight:300;
    color: #ffffff;
    /*AJUSTE DE MARGEM PARA O TEXTO*/
    text-align: justify;
    text-align-last: left;
    width: 65%;
    top:252%;
    position:absolute;
}


/*AJUSTES PARA O FOOTER, JUNTO COM A LISTA DE NAVEGAÇÃO*/
.nav_footer {
    background-color: #1a1a1a;
    left: 0;
    bottom: -270%;
    width: 100vw;
    position: absolute;
    overflow: hidden;
    height : 300px;
    background-size:cover;
}
.nav_footer .line2 {
    width: 70%;
    height: 1px;
    background-color: #FDF877;
    position: absolute;
    left: 50%;
    top:50%;
    transform: translateX(-50%);
}
    
.nav_footer a {
    font-family: 'Comfortaa', sans-serif;
    font-weight:400;
    font-size: 14px;
    color: #FDF877;
    text-align: center;
    text-decoration: none;
    padding: 0px 15px;
}
.nav_footer a:hover {
    text-decoration: underline;
    text-decoration-thickness: 4px;
    text-decoration-color: #FDF877;
    text-underline-offset: 5px;
    text-decoration-thickness: 4px;
}
.nav_footer .rights {
    font-family: 'Comfortaa', sans-serif;
    font-weight:300;
    font-size: 13px;
    color: #FDF877;
    text-align: center;
    text-decoration: none;
    padding: 240px 55px;
}

.nav_footer li {
    display: inline-block;
    list-style-type: none;
}
.nav_footer ul.main-nav-footer {
    position:absolute;
    top:35%;
    left:50%;
    transform: translate(-55%, -200%);
    list-style-type: none;
}

.nav_footer .logo-footer img {
    max-width: 80px;
    float:left;
    height: auto;
    transform: translate(455%, 305%);

}
.nav_footer .contact-icons {
    position:absolute;
    top:48%;
    left:50%;
    transform: translate(-60%, 40%);
    list-style-type: none;
}
.nav_footer .contact-icons img {
    height:30px;
    width:auto;
}
.nav_footer .contact-icons a {
    padding: 0px 7px;
}