* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
    width: 100vw;
}

.navtop {
    background-image: url('img/nav_bg-01.png');
    background-size: cover;
    overflow: hidden;
    position: relative;
    padding: 10px 0;
    
    
}

/* PARÂMETROS DE AJUSTE PARA A POSIÇÃO DO LOGO NO MENU DE NAVEGAÇÃO */
.navtop .logo-left img { 
    max-width: 110px;
    float:left;
    height: auto;
    transform: translate(290%, 0%);
}

.navtop a{
    font-family: 'Comfortaa', sans-serif;
    font-weight:700;
    font-size: 15px;
    color: #000000;
    text-align: center;
    text-decoration: none;
    padding: 0px 13px;

}

.navtop .top-center ul.main_nav{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -130%);
    list-style-type: none;
}
.navtop .main_nav li {
    display: inline-block;
}

.navtop .top-right a {
    float:right;
    top:50%;
    left:50%;
    transform: translate(-280%, 55%);
}

/*EFEITOS DE TRANSIÇÃO NA BARRA DE NAVEGAÇÃO*/
.navtop a:not(.donate_btn, .adopt_btn, .amor):hover {
    text-decoration: underline;
    text-decoration-thickness: 4px;
    text-decoration-color: #764599;
    text-underline-offset: 5px;
    text-decoration-thickness: 4px;
}
/*BORDA CENTRALIZADA AOS BOTÕES*/

a.donate_btn {
    border-radius: 100px;	
    background-color: #FDF877;
    color: #000000;
    margin-right: 5px;
    width:70px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
a.adopt_btn {
    border-radius: 100px;	
    background-color: #5F377B;
    color: #ffffff;
    margin-right: 5px;
    width:70px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*EFEITOS DE TRANSIÇÃO AO PASSAR MOUSE NOS BOTÕES DE DOAÇÃO E ADOÇÃO */

a.donate_btn:hover {
    transition: background-color 0.5s, color 0.5s, border-radius 0.5s;
    border-radius: 100px;	
    background-color: #5F377B;
    color: #FDF877;
    outline: 2px solid;
    text-decoration: underline;
    text-decoration-color: #FDF877;
    text-underline-offset: 5px;
    text-decoration-thickness: 3px;
}

a.adopt_btn:hover {
    transition: background-color 0.5s, color 0.5s, border-radius 0.5s;
    border-radius: 100px;	
    background-color: #FDF877;
    color: #5F377B;
    outline: 2px solid;
    text-decoration: underline;
    text-decoration-color: #5F377B;
    text-underline-offset: 5px;
    text-decoration-thickness: 3px;
}

.historias {
    background-color: #5F377B;
    color: #FFFFFF;
    padding: 40px;
}

.titulo-historias {
    font-family: 'Anton', sans-serif;
    font-size: 100px;
    margin-bottom: 10px;
    color: #FDF877;
}

.linha {
    width: 100%;
    height: 4px;
    background-color: #FDF877;
    margin-bottom: 20px;
}

.adodantes {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-between;
}

.quem-adotou {
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 20px;
    margin-right: 10px;
    margin-bottom: 50px;
    height: 300px;
    width: calc(33.33% - 20px);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    color: #000;              
    position: relative;        
}

.aspas {
    width: 100px;
    position: absolute;
    top: 10px;
    left: 10px;
}

.depoimento-pessoa {
    text-align: justify;
    width: 70%;
    margin-top: 80px;
    margin-left: 20px;
    font-family: 'Montserrat', sans-serif;
}

.nome {
    font-weight: bold;
    color: #5F377B;
    text-align: justify;
    margin-left: 20px;
    margin-top: 20px;
}

.foto.animal {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: absolute;
    bottom: -30px;
    right: -20px;
}

.feiras {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FDF877;
    position: relative;
    padding: 20px;
}

.feiras img.cat {
    width: 550px;
    height: auto;
    margin-top: 50px;
    margin-left: 200px;
}

.feiras .text-container {
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
    margin-left: 50px;
}

.feiras h1.encontre,
.feiras h1.feiras-adocao,
.feiras p.texto-feira {
    font-family: "Anton", sans-serif;
    color: #000000;
    margin: 10px 0;
    margin-right: 100px;
}

.feiras h1.encontre {
    color:#000000;
    font-size: 50px;
    margin-bottom: -30px;
}

.feiras h1.feiras-adocao {
    color: #5F377B;
    font-size: 70px;
    margin-top: 0px;
}

.feiras p.texto-feira {
    font-family: 'Montserrat', sans-serif;
    font-size: 19px;
    font-weight: 400;
    color: #000000;
    text-align: justify;
    width: 450px;
}

.botao-encontre {
    display: inline-block;
    padding: 15px 30px; 
    background-color: #5F377B;
    color: white;
    font-family: 'Anton', sans-serif; 
    font-size: 20px;
    text-align: center;
    text-decoration: none; 
    border-radius: 50px;
    margin-top: 20px;
    transition: background-color 0.3s ease, color 0.3s ease;
}


.botao-encontre:hover {
    background-color: #FDF877; 
    color: #5F377B;
    text-decoration: underline;
}